
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  img {
    width:50%;
    height: 15%;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #666;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  ul {
    margin-bottom: 20px;
  }
  
  ul li {
    list-style: disc;
    margin-left: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  footer {
    margin-top: 30px;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-icons {
    display: flex;
  }
  
  .social-icons li {
    margin-left: 10px;
  }
  
  .social-icons li a {
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .social-icons li a:hover {
    color: #666;
    transform: scale(1.1);
  }
  
  /* Media queries */
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      text-align: center;
    }
    nav ul {
      margin-top: 20px;
    }
    nav ul li {
      margin: 0 10px;
    }
    img {
      margin-bottom: 20px;
    }
    h1 {
      font-size: 28px;
    }
    h2 {
      font-size: 20px;
    }
  }
  